* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    overflow-x: hidden;
}
#startDiv {
    width: 100vw;
    height: 100vh;
}
#headerStartDiv {
    display: flex;
    width: 100%;
    height: 4%;
    background: gray;
    justify-content: space-between;
}
i {
    font-size: 25px;
    color: white;
}
#infoDiv {
    width: 40%;
    height: 100%;
    margin-left: 5%;
}
#infoDiv div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;
}
#infoDiv i {
    margin-right: 0.5vw;
}
#contactDiv {
    width: 13%;
    height: 100%;
    margin-right: 5%;
}
#contactDiv, #infoDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#headerStartDiv p {
    color: white;
    font-size: 15px;
}
#contactDiv a {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-decoration-line: none;
}
#contactDiv i {
    font-size: 4vh;
}
#divBack {
    height: 56vh;
    width: 100vw;
    background-image: url('images/martouni.jpg');
    background-size: 100vw 60vh;
    background-attachment: fixed;
}
#divBack img {
    height: 100%;
    width: 100%;
    opacity: 0.3;
}
#text {
    position: absolute;
    width: 400px;
    height: 60px;
    left: calc(50% - 200px);
    top: 10vh;
}
#text h1, #text p {
    color: white;
    text-align: center;
    margin: 0;
}
#footerStart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 40vh;
}
#divForDiv {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 150px;
    top: calc(60vh - 75px);
}
#box1, #box2, #box3 {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background: rgb(21, 88, 187);
}
#divForDiv img {
    margin-top: 25px;
    margin-left: 25px;
    display: block;
    width: 100px;
    height: 100px;
}
#box1:hover, #box2:hover, #box3:hover {
    background: rgb(16, 161, 209);
    cursor: pointer;
}
#flex1, #flex2, #flex3 {
    width: 30vw;
    height: 40vh;
    text-align: center;
}
#footerStart h1 {
    margin-top: 80px;
}
#conteiner1 {
    background: rgb(131, 209, 235);
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#cont1 {
    margin-top: 10px;
    width: 20%;
    height: 100%;
}
#cont2 {
    width: 60%;
    height: 100%;
}
#cont2>div {
    position: relative;
    width: 400px;
    height: 500px;
    float: right;
    margin-top: 50px;
    margin-right: 200px;
    margin-bottom: 50px; 
}
#p2 {
    position: absolute;
    top: 100px;
    left: 100px;
}
#conteiner2 {
    width: 100vw;
    height: auto;
    text-align: center;
}
#conteiner2 h1 {
    font-size: 4vw;
}
#conteiner2>p {
    margin: 0 15%;
    font-size: 1.5vw;
}
#mainCont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.mainDiv {
    height: 200px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(221, 215, 215);
    width: 40%;
    margin: 2.5% 0;
    min-width: 370px;
}
.mainDiv i {
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    border-radius: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orange;
    margin: auto 2.5%;
    font-size: 5vh;
}
.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.contText {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 5%;
    margin-left: 0;
}
.contText h2 {
    font-size: 100%;
    color: orange;
}
.contText p {
    font-size: 100%;
}
#conteiner3 {
    width: 100vw;
    height: auto;
    text-align: center;
}
#cont3 {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: space-around;
}
#conteiner3>h1 {
    font-size: 4vw;
    margin-top: 10%;
}
#conteiner>p {
    margin: 0 15%;
    font-size: 1.5vw;
}
#cont3>div {
    border: 1px solid rgb(221, 215, 215);
    width: 30vw;
    height: auto;
    margin-bottom: 30px;
}
#cont3 i {
    margin: 4% 0;
    font-size: 5vh;
    color: blue;
}
#cont3 img {
    border-radius: 150px;
}
#conteiner4 {
    width: 100vw;
    height: auto;
    padding: 100px;
    background-image: url('images/back.png');
    background-size: 100vw auto;
    background-attachment: fixed;
}
#conteiner4>h1, #conteiner4>h3 {
    color: white;
    text-align: center;
}
#sendMessage {
    width: 40vw;
    height:  auto;
    background: white;
    opacity: 0.8;
    margin: auto;
    padding: 5%;
    border-radius: 30px;
}
#sendMessage input, #sendMessage textarea {
    height: 30px;
    width: 90%
}
#sendMessage button {
    background: green;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: right;
    margin-right: 5%;
}
#sendMessage button:hover {
    cursor: pointer;
}
#footer {
    width: 100vw;
    height: auto;
    color: gray;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .mainCont {
        flex-direction: column;
    }
}