body {
    margin: 0;
    overflow-x: hidden;
}
#divBack {
    width: 100vw;
    height: 100vh;
    background-image: url('photos/image.jpg');
    background-size: 100vw 100vh;
    position: relative;
}
#divBack>img {
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
}
#divBack button {
    position: absolute;
    background: green;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    font-size: 30px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    z-index: 1;
    color: white;
}
#divBack button:hover {
    background: #1ed220;
    letter-spacing: 3px;
    transform: scale(1.1);
}
#divButton {
    position: absolute;
    margin-top: 70vh;
    margin-left: 60vw;
    width: 10vw;
}
#cv img {
    width: 150px;
    height: 200px;
    position: absolute;
    z-index: 100;
}
#cv {
    position: absolute;
    width: 25vw;
    height: 50vh;
    margin-left: 10vw;
    margin-top: 30vh;
}
#cv1 {
    margin-left: 15%;  
}
#cv2 {
    margin-top: 15%;
}
#cv3 {
    margin-left: 53%;
    margin-top: 20%;
}
#cv4 {
    margin-left: 20%;
    margin-top: 40%;
}
#text {
    position: absolute;
    width: 700px;
    margin-top: 30vh;
    margin-left: 40vw;
}
#divContainer {
    height: 300px;
    background: #d3dfd7;
    position: relative;
}
#user1, #user2 {
    margin: 0;
    position: relative;
    width: 33vw;
    height: 300px;
    display: inline-block;
}
#user3 {
    margin: 0;
    position: relative;
    width: 32vw;
    height: 300px;
    display: inline-block;
}
.users {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 150px;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    background: white;
}
.users span {
    display: block;
    color: blue;
    font-size: 50px;
    margin: 46px 27px;
}
.uspan {
    position: absolute;
    color: blue;
    top: 75%;
    left: 60%;
    transform: translate(-75%, -60%);
    font-size: 36px;
    letter-spacing: 5px;
}
#divFooter{
    height: 500px;
    background: #ebf5fb;
}
#footer1 {
    height: 250px;
}
#footer2 {
    height: 250px;
}
#photoFooter11, #photoFooter12, #photoFooter13, #photoFooter21, #photoFooter22 {
    width: 25vw;
    margin: 0;
    position: relative;
    height: 250px;
    display: inline-block;
}
#photoFooter14, #photoFooter23 {
    width: 22vw;
    margin: 0;
    position: relative;
    height: 250px;
    display: inline-block;
}
#photoFooter20 {
    width: 13vw;
    margin: 0;
    position: relative;
    height: 250px;
    display: inline-block;
}
.photos1 {
    position: absolute;
    border: 4px solid orange;
    width: 170px;
    height: 170px;
    border-radius: 150px;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
}
.photos2 {
    position: absolute;
    border: 4px solid orange;
    width: 170px;
    height: 170px;
    border-radius: 150px;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
}